@page "/"
@using ClassFly.Core.Models

<h2>Choose course!</h2>
<input type="text" placeholder="Search course" />

@foreach(var course in Courses)
{
    <div class="card">
        <img src="/images/@(course.Image)"/>
        <h3>@course.Name </h3>
        <p>in class</p>
        <h4>@course.MemberCount Members</h4>
    </div>
}

@code {
    DataService DataService = new DataService();
    List<Course> Courses;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Courses = DataService.GetCourses();
    }
}